body {
  font-weight: bolder;
  height: 100vh;
  background-color: #c5d5cb;
  font-family: "Lora", sans-serif;
  color: rgb(0, 0, 0);
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

/* Flex container for centering */
a {
  display: flex;
  justify-content: center;

  color: rgb(0, 0, 0);
}
/* Custom color for text */
.aligncenter {
  display: flex;
  justify-content: center;
}

/* Container for flex items */
.container {
  display: flex; /* Enable flex layout */
  justify-content: center; /* Center items horizontally */
  width: 250px; /* Set container width */
  height: 250px; /* Set container height */
 }

 /* text input styling */
input[type="text"] {
  width: 100%; /* full width input */
  padding: 12px 20px; /* padding around input text */
  margin: 6px 0; /* margin around input */
  box-sizing: border-box; /* box sizing includes padding and border */
  border: 2px solid rgb(218, 157, 44); /* border color and thickness */
  border-radius: 6px; /* rounded border corners */
}

button[type="submit"] {
  background-color: rgb(218, 157, 44);
  border-radius: 6px;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
