<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>Edit Message</title>
</head>
<body>
  <a href="/"><h3>Home</h3></a>
  <a href="/messages"><h3>All Messages</h3></a>
  
  <div class='aligncenter'>
  <h3><%= message.title %></h3>
  </div>
  <a href="/messages/<%= message._id %>/edit"><h3>Edit This Message</h3></a>
</body>
</html>
